.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 40px 90px 55px -20px rgb(155, 184, 243, 0.2);
}

thead {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #6d95e0;
  border-bottom: 1px soliod #ddd;
  padding: 15px;
}

td {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
}
